@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply border-border outline-ring/50;
	}

	::selection {
		@apply bg-selection text-selection-foreground;
	}

	body {
		@apply bg-background font-mono text-foreground antialiased;
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}

	p,
	li,
	span,
	a,
	div {
		@apply font-mono;
	}

	::-webkit-scrollbar {
		width: 5px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: var(--border);
		border-radius: 5px;
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: var(--border) transparent;
	}

	form {
		@apply space-y-4;
	}

	[id] {
		@apply scroll-mt-22;
	}

	::view-transition-group(root) {
		animation-duration: 0.8s;
		animation-timing-function: linear(
			0 0%,
			0.1684 2.66%,
			0.3165 5.49%,
			0.446 8.52%,
			0.5581 11.78%,
			0.6535 15.29%,
			0.7341 19.11%,
			0.8011 23.3%,
			0.8557 27.93%,
			0.8962 32.68%,
			0.9283 38.01%,
			0.9529 44.08%,
			0.9711 51.14%,
			0.9833 59.06%,
			0.9915 68.74%,
			1 100%
		);
	}

	::view-transition-new(root) {
		animation-name: reveal-light;
	}

	::view-transition-old(root),
	.dark::view-transition-old(root) {
		animation: none;
		z-index: -1;
	}

	.dark::view-transition-new(root) {
		animation-name: reveal-dark;
	}

	@keyframes reveal-dark {
		from {
			clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
		}
		to {
			clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
		}
	}

	@keyframes reveal-light {
		from {
			clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
		}
		to {
			clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
		}
	}

	.prose {
		color: var(--muted-foreground) !important;
	}

	.prose ul li::marker {
		color: var(--color-theme) !important;
	}

	.prose span {
		font-weight: var(--font-weight-medium);
		color: var(--foreground);
	}
}
