@layer components {
	[data-rehype-pretty-code-figure] {
		@apply relative my-6 rounded-lg bg-code text-code-foreground;

		pre {
			@apply overflow-x-auto px-4 py-4 has-data-line-numbers:px-0;
		}

		code {
			@apply font-mono text-sm;
		}
	}

	[data-line] {
		@apply py-0.5;
	}

	[data-line] span {
		@apply text-(--shiki-light) dark:text-(--shiki-dark);
	}

	[data-rehype-pretty-code-title] {
		@apply flex items-center gap-3 border-b border-edge px-4 py-2.5 text-sm text-muted-foreground;
		@apply [&_svg]:size-4 [&_svg]:text-muted-foreground;
	}

	[data-line-numbers] {
		counter-reset: line;
	}

	[data-line-numbers] > [data-line]::before {
		counter-increment: line;
		content: counter(line);
		@apply sticky left-0 inline-block w-16 bg-code pr-6 text-right text-sm text-code-number;
	}

	[data-line-numbers] [data-highlighted-line][data-line]::before {
		@apply bg-code-highlight;
	}

	[data-highlighted-line] {
		@apply bg-code-highlight;
	}
}
